<div class="panel-heading">
  <h3 class="panel-title">
    <a role="button" data-toggle="collapse" class="collapsed" href="#collapse-additional-filters-{{id}}">{{t 'Additional Filters'}} {{#unless singleLayerModeUsed }}for {{ name }} {{/unless}}<span class="caret"></span></a>
  </h3>
</div>
<div id="collapse-additional-filters-{{id}}" class="panel-body collapse {{#unless collapsed}}in{{/unless}}"></div>
