<label class="col-sm-6 control-label"
  {{#if title}}
    data-toggle="tooltip" data-placement="top" title="{{t title}}"
  {{/if}}
>{{t displayName}}</label>
<div class="col-sm-6">
  <input type="text" data-type="{{ type }}" {{#if default}}value="{{default}}"{{/if}} class="form-control input-sm">
</div>
