<div class="panel-heading">
  <h3 class="panel-title">
    <a role="button" data-toggle="collapse" href="#collapse-additional-filters">{{t 'Additional Filters'}} <span class="caret"></span></a>
  </h3>
</div>
<div id="collapse-additional-filters" class="panel-body collapse in"></div>
