<button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
  {{ t 'Select Feature' }}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" style="max-height: 300px; overflow-y: scroll"></ul>
