.filters-view {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-sm {
  padding: 1px 5px !important;
}

.input-sm {
  padding: 0px 5px !important;
}

.input-group-addon {
  padding: 2px 2px !important;
  font-size: 12px !important;
}

.show-geometry,#selection-wrapper {
  display: none;
}
