<div class="panel-heading">
  <h3 class="panel-title">
    <a role="button" data-toggle="collapse" href="#collapse-time-filter">{{t 'Time Filter'}} <span class="caret"></span></a>
  </h3>
</div>
<div id="collapse-time-filter" class="panel-body collapse {{#unless collapsed}}in{{/unless}}">
  <div class="form-group">
      <div class="row">
        <label class="col-sm-4 control-label">Start date</label>
        <div class="col-sm-8 no-padding">
          <input type="text" class="form-control input-sm datetime start">
        </div>
      </div>

      <div class="row">
        <label class="col-sm-4 control-label">End date</label>
        <div class="col-sm-8 no-padding">
          <input type="text" class="form-control input-sm datetime end">
        </div>
      </div>
      <div class="row">
        <div id="map-time-limit-exceeded"></div>
      </div>
    </div>
  <div class="form-group time-buttons">
    <div class="btn-group btn-group-justified tools" role="group" aria-label="...">
      <a href="#" role="button" class="btn btn-default btn-sm tool tool-show-time">{{t 'Zoom to Selection'}}</a>
      {{#unless maxMapInterval}}
        <a href="#" role="button" class="btn btn-danger btn-sm tool tool-clear-time">{{t 'Clear Selection'}}</a>
      {{/unless}}
    </div>
  </div>
</div>
