@font-face {
	font-family: 'eox_font';
	src:url('fonts/eox_font.eot?wolqql');
	src:url('fonts/eox_font.eot?wolqql#iefix') format('embedded-opentype'),
		url('fonts/eox_font.ttf?wolqql') format('truetype'),
		url('fonts/eox_font.woff?wolqql') format('woff'),
		url('fonts/eox_font.svg?wolqql#eox_font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'eox_font' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.eox_font_class{
	font-family: 'eox_font';
}

.eox_blue{
	color: #004170;
}

.icon-E:before {
	content: "\e900";
}
.icon-O:before {
	content: "\e901";
}
.icon-X:before {
	content: "\e902";
}
