<button id="toggle-panel"><i class="fa fa-bars" aria-hidden="true"></i></button>
<div class="panel panel-{{position}}">
  <button id="toggle-panel"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div id="panel-content" class="out">
  </div>
</div>
