<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{#if hasMore}}
      <span>
        <a class="btn btn-default btn-xs records-prev">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <span class="current-record"></span> / <span class="record-count"></span>
        <a class="btn btn-default btn-xs records-next">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
      </span>
      {{/if}}
      <h4 class="modal-title" style="display:inline"></h4>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
      <span class="buttons checkbox">
        <label>
          <input type="checkbox" class="is-selected"> Selected for Download
        </label>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </span>
    </div>
  </div>
</div>
