.modal-select-files .modal-content .modal-body .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.record-checkbox, .record-file-checkbox {
  margin-top: -2px!important;
}
