<button class="toggle-side-panel toggle-side-panel-{{position}}"><i class="fa fa-bars" aria-hidden="true"></i></button>
<div class="side-panel side-panel-{{position}}">
  <button class="toggle-side-panel"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div id="side-panel-content" class="out">
  </div>
</div>
