/* by default panels are hidden */
.side-panel {
  position: absolute;
  width: 390px;
  top: 20px;

  height: -moz-calc(100% - 148px);
  height: -webkit-calc(100% - 148px);
  height: -o-calc(100% - 148px);
  height: calc(100% - 148px);

  z-index: 0;
  overflow: hidden;

  /* for showing/hiding */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s;
}

.side-panel.in {
  visibility: visible;
  max-height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

.side-panel-content {
  position: relative;
  height: -moz-calc(100% - 51px);
  height: -webkit-calc(100% - 51px);
  height: -o-calc(100% - 51px);
  height: calc(100% - 51px);

  margin: 0px 5px;
  padding: 5px 5px 0px 5px !important;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ddd;
  border-radius: 4px;
}

.side-panel-content > div {
  height: 100%;
}

.side-panel-left {
  left: 20px;
}

.side-panel-right {
  right: 20px;
}

.toggle-side-panel {
  margin: 5px;
  position: absolute;
}

.toggle-side-panel-out {
  opacity: 1;
  top: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

.toggle-side-panel-out.out {
  opacity: 0;
}

.toggle-side-panel-left {
  left: 0;
}

.toggle-side-panel-right {
  right: 0;
}

.toggle-side-panel-out.toggle-side-panel-left {
  left: 20px;
}

.toggle-side-panel-out.toggle-side-panel-right {
  right: 20px;
}

.side-panel .navbar-right {
  margin-right: 0;
}

.nav-tabs {
  margin-top: 5px;
  border-bottom: 0px !important;
}

.nav-tabs>li.active {
  z-index: 1;
}

.nav-tabs a .info {
  min-width: 20px;
  padding-left: 5px;
  display: inline-block;
}

.panel-body {
  margin: 5px !important;
  padding: 0 !important;
}

.selection-body {
  margin-left: 5px !important;
}

.navbar, .panel {
  margin-bottom: 5px !important;
}

.panel-heading {
  padding: 10px 5px !important;
}

.form-group {
  margin: 0 !important;
}

.form-group>label {
  margin: 5px 0 !important;
}

.tab-pane {
  height: 100%;
}

.record-item {
  width: 112px;
  margin-top: 5px;
  margin-left: -moz-calc(100% - 3 * 112px) / 4);
  margin-left: -webkit-calc(100% - 3 * 112px) / 4);
  margin-left: -o-calc(100% - 3 * 112px) / 4);
  margin-left: calc((100% - 3 * 112px) / 4);
}
