<button class="toggle-side-panel toggle-side-panel-{{position}}">
  <i class="fa {{icon}}" aria-hidden="true"></i>
</button>
<div class="side-panel side-panel-{{position}}">
  <button class="toggle-side-panel toggle-side-panel-{{position}}">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <div class="side-panel-content out"></div>
</div>
