<div class="toggleTimeSliderButton">
  <button class="btn btn-xs" role="button" style="height:26px;">
    {{#if disabled}}
      <i style="font-size:1.4em;" class="fa fa-bar-chart toggleTimeSlider" title="Enable TimeSlider"></i>
    {{else}}
      <i  style="font-size:1.4em;" class="fa fa-times toggleTimeSlider" title="Disable TimeSlider"></i>
    {{/if}}
  </button>
</div>
