<!-- <a tabindex="0" class="btn btn-xs btn-default" role="button" data-html="true"
  data-toggle="popover" data-trigger="focus" data-placement="right"
  data-content="Powered&nbsp;by&nbsp;<a href='https://github.com/eoxc' target='_blank'>EOxC</a>&nbsp;&copy;&nbsp;<a href='https://eox.at' target='_blank'>EOX</a>">
  <i class="icon-eox-eye"></i>
</a> -->
<a class="btn btn-xs btn-default toggle-collapse" role="button">
  <i class="icon-eox-eye-white"></i>
  <span class="arrow-collapse" style="display: none;">&laquo;</span>
</a>
<div class="collapse" style="display: none;" id="vendor-info">
  Powered&nbsp;by&nbsp;<a href="https://github.com/eoxc" target="_blank">EOxC</a>&nbsp;&copy;&nbsp;<a href="https://eox.at" target="_blank">EOX&nbsp;<i class="icon-eox-eye"/></a>
</div>
<!-- CODE-DE Client version {{cdeVersion}} https://github.com/eoxc/CODE-DE/releases/tag/v{{cdeVersion}} -->
<!-- eoxc version {{eoxcVersion}} https://github.com/eoxc/eoxc/releases/tag/v{{eoxcVersion}} -->
