<ul class="search-result-list list-unstyled list-inline">
  <div class="panel-result-list">
    <div class="panel-body">
      <ul class="selection-items list-unstyled list-inline result-list"></ul>
    </div>
  </div>
</ul>
