<ul class="search-result-list list-unstyled list-inline">
  <div class="panel-result-list">
    <div class="panel-body">
      <div class="spacer spacer-top"/>
      <ul class="selection-items list-unstyled list-inline result-list"></ul>
      <div class="spacer spacer-bottom"/>
    </div>
  </div>
</ul>
