// @import "bootstrap/bootstrap/variables";
// @import "bootstrap/bootstrap/mixins";
//
// // Reset and dependencies
// @import "bootstrap/bootstrap/normalize";
// @import "bootstrap/bootstrap/glyphicons";
//
// // Core CSS
// @import "bootstrap/bootstrap/scaffolding";
// @import "bootstrap/bootstrap/type";
//
@import './_variables.scss';

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $c_lo;
    background: #ddd;

    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}

#app {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.root-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.side-panel {
    filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.3));

    .side-panel-left {
        left: 25px;
    }

    .side-panel-right {
        right: 25px;
    }

    .info .badge {
      font-size: 10px;
      padding: 2px 6px;
    }

    .tab-pane p {
      color: white;
    }
}




input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    outline-width: 0 !important;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

* {
    border-radius: 0 !important;
    outline: none;
    box-shadow: none !important;
    //border: none !important;
}



label, input, text {
    cursor: default;
}

svg.timeslider,
.ui-sortable-handle {
    cursor: -webkit-grab;
    cursor: grab;
}

.input-group,
.btn-group-justified {
    border-collapse: collapse;
}

.input-group-addon,
.side-panel.in,
.side-panel.out,
.toggle-side-panel,
.side-panel-content,
.panel {
    border: none;
}

.toggle-side-panel {
  width: 44px;
}

.datetime {
    .input-group-addon {
        padding: 0 12px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            background: $c_lo;
            color: $c_hi;
            transition: background-color .25s, color .25s;
        }
    }
}


.side-panel.in,
.side-panel.out {
    background: fade-out($c_hi,.5);
}

.side-panel-content {
    background: $c_lo;
    padding: 3px;

    .panel {
        background: transparent;

        .form-group > label, label.control-label {
            color: #fff;
        }
    }
}



.nav-tabs > li {
  margin-bottom: 0;

  > a {
    line-height: 1.25;
    background: #eee;
    font-weight: 700;

    &:hover {
      background: $c_hi;
      transition: background .25s;
    }

    &, &:hover {
      border: none;
    }
  }

  & a {
    background: white;
    color: $c_lo;
  }

  &.active a {
    background: $c_lo !important;
    color: #fff !important;
    border: none !important;
  }
}

.panel-default > .panel-heading {
    color: #7ac6cf;
    background-color: transparent;
    border: none;
    padding-bottom: 0 !important;

    h3, h4 {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;

        a:hover {
            color: fade-out($c_hi,.5);
            text-decoration: none;
        }

        a:focus {
            color: $c_hi;
            text-decoration: none;
        }
    }
}

input,
.btn-default {
    border: none;
    font-weight: 700;
    color: $c_lo;
}

.btn-default,
input {
    //.input-group-addon {
    &:hover {
        background: $c_hi;
        transition: background .25s;
    }
}


.form-group {

    .btn-group .btn {
        border: 2px solid transparent;
        font-size: 14px;

        &:first-of-type {
            border-left: none;
        }

        &:last-of-type {
            border-right: none;
        }
    }

    .input-group-btn .btn-file {
        margin: 0 2px 2px 0;
        border: none;
        padding: 6px 10px;
    }

    input {
        border: none;
    }
}

#timeSlider {
  .control {
    background: $c_lo;
    color: white;
    border: none;
    font-weight: 400;
    &:hover {
      background: $c_hi;
      color: $c_lo;
      transition: background .25s, color .25s;
    }
    margin-top: -21px;

    display:flex;
    justify-content:center;
    align-items:center;
  }

  svg.timeslider {
    border: none !important;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));

    .brush .extent {
      fill: $c_lo;
      stroke: none;
      cursor: grab !important;
      cursor: -webkit-grab !important;
    }

    .mainaxis {
      line,
      path {
        stroke: $c_lo !important;
        //stroke-width: 2px;
      }

      text {
        fill: $c_lo;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
      }
    }

    &.loading {
      opacity: 0.8;
    }
  }
}

.layer-control {
    .layer-list {
        label {
            color: #fff;

            span {
                margin-right: 10px;
            }
        }

        .layer-list-item .checkbox, .layer-list-item .radio {
            margin: 0;

            label {
                padding-left: 6px;
            }
        }
    }


    .display-name {
        white-space: nowrap;
        max-width: 273px;
        width: 273px;
        overflow: hidden;
    }

    .input-group-addon {
        background: transparent;
        padding: 0 6px;

        &:first-of-type {
            padding-right: 0;
        }

        label span:before {
            font-weight: 500;
        }
    }

    .fa-sort,
    .fa-square,
    .fa-adjust,
    .ui-sortable-handle {
        color: darken(#fff,15%);
        margin-right: 5px;
    }

    input[type=radio].layer-visible,
    input[type=checkbox].layer-visible {
        + label span:before,
        + span:before {
            border: none !important;
            color: $c_hi;
        }

        &:checked {
            + label span:before,
            + span:before {
                color: #fff;
            }
        }
    }

    .form-control {
        border: none;
        background: fade-out($c_hi,.8);
        color: #fff;
        height: auto;
        padding: 2px 12px;
        // border-radius: 2px !important;

        a[href] {
          color: #fff;
          text-decoration: underline;
        }
    }
}

.layer-adjust-opacity-popover {
  background-color: $c_lo;
  border: none;
  .arrow:after {
    border-right-color: $c_lo !important;
  }
}

.record-item {
  border: none;
  color: black;
  // background-color: $c_hi;
  background-color: white;
}

.slider-handle {
  background-color: $c_hi;
  background-image: none;
}

.extra-parameters label {
  font-weight: 500;
}

.download-control .checkbox {
  color: $c_hi;
  label {
    font-size: 13px;
  }
}

.selection-items i:not([class]) {
  color: white;
}

.ol-control, #infoPanel, #infoPanel div {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  background-color: transparent;
  filter: none !important;

  a {
    font-weight: 900;
  }

  button, .btn {
    border: none !important;
    vertical-align: bottom;

    &, &:focus {
      background-color: $c_lo;
    }

    &:hover {
      background-color: $c_hi;
      color: $c_lo;
      transition: background-color .25s, color .25s;
    }
  }

  img, button span {
    position: relative;
    top: -1px;
  }

  // &:hover {
  //   background-color: transparent;
  // }
}

#infoPanel .btn:hover .icon-eox-eye-white {
  background: no-repeat center url('./eox/EOX_Logo_eye_only.svg');
  width: 16px;
  height: 16px;
  display: block;
  background-size: contain;
  margin: 2px;
}

.ol-attribution {
  z-index: 100;
}

.ol-attribution ul {
  font-size: 13px !important;
}

.ol-overlay-container .popover.in {
  width: 69px !important;
  height: 32px !important;
}

.ol-mouse-position-eoxc {
  bottom: 10px;
  left: 245px;
  position: absolute;
  padding: 2px;
  background-color: rgba(255,255,255,.8);
  font-size: 13px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

  height: 22px;
  width: 115px;
  text-align: center;
  white-space: nowrap;

  opacity: 1;
  transition: opacity .25s linear;
}

.ol-mouse-position-eoxc:empty {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .25s, opacity .25s linear;
}

.record-details-map .ol-mouse-position-eoxc {
  left: 10px;
}

.bootstrap-datetimepicker-widget {
  .datepicker {
    .active {
      background: $c_lo !important;

      &:hover {
        background: $c_hi !important;
        transition: background .25s;
      }
    }

    .today:before {
      border-bottom-color: $c_hi !important;
    }
  }
  a {
    color: $c_lo;
  }
  a span:hover {
    background-color: $c_hi !important;
    transition: background-color .25s;
  }
}


.panel-title .caret,.dropdown.open .caret{
  -webkit-transform:rotate(0deg);
          transform:rotate(0deg);
}
.panel-title .caret,.panel-title .collapsed .caret,.dropdown .caret{
  -webkit-transition:.2s ease-in-out;
          transition:.2s ease-in-out;
}
.panel-title .collapsed .caret,.dropdown .caret {
  -webkit-transform:rotate(-90deg);
          transform:rotate(-90deg);
}

.modal {
  .modal-content {
    border: none;

    .modal-header {
      background-color: $c_lo;
      color: $c_hi;
      border-bottom: none;

      .close {
        color: black;
        background-color: $c_hi;
        text-shadow: none;
        opacity: 1;
        margin-top: -15px;
        padding: 15px 5px 5px 5px;
        transition: background-color .25s;
      }
      .close:hover {
        background-color: white;
        transition: background-color .25s;
      }

      .record-pager {
        margin-right: 10px;
      }
    }

    td, th {
      padding-left: 5px;
      padding-right: 5px;
      a {
        color: $c_lo;
        font-weight: 700;
      }
    }

    .modal-footer {
      background-color: $c_lo;
      color: $c_hi;
      border-top: none;
    }
  }
}

.anno {
  color: $c_lo !important;
  .anno-inner, .anno-btn {
    border: none !important;
  }

  .anno-btn {
    background-color: lightgrey !important;
    color: $c_lo !important;
  }

  .anno-btn:hover {
    background-color: $c_hi !important;
    color: $c_lo !important;
    transition: background-color .25s, color .25s;
  }

  .anno-btn-low-importance {
    background-color: lightgrey !important;
  }

  .anno-btn-low-importance:hover {
    background-color: $c_hi !important;
    transition: background-color .25s, color .25s;
  }
}


// scrollbar styling

::-webkit-scrollbar {
  background-color: $c_lo;
}

::-webkit-scrollbar-thumb {
  background-color: $c_hi;
}


body {
  scrollbar-base-color: $c_hi;
  // scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: $c_lo;
  scrollbar-arrow-color: $c_hi;
  scrollbar-shadow-color: $c_lo;
  scrollbar-dark-shadow-color: #C0C0C0;
}

// vendor info stuff:
.icon-eox-eye {
  background: no-repeat center url('eox/EOX_Logo_eye_only.svg');
  width: 23px;
  height: 13px;
  display: block;
  background-size: contain;
  display: inline-block;
}
